datajoint
pandas[pyarrow]
scipy
scikit-video
caveclient
nglui
em_coregistration@git+https://github.com/AllenInstitute/em_coregistration@phase3#egg=em_coregistration
cryptography
seaborn
ipykernel
torch
